* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import "bootstrap/scss/bootstrap-grid";

body {
  font-family: "Geologica";
  margin-top: 10px;
}

.container + .container {
  margin-top: 16px;
}

.col-2 {
  background-color: pink;
}
.col-7 {
  background-color: pink;
}

.col-12 {
  background-color: pink;
}
.col-10 {
  background-color: pink;
}

.col-3 {
  background-color: pink;
}

.col-4 {
  background-color: pink;
}

.col-8 {
  background-color: pink;
}

.card {
  background-color: aqua;
}

.header {
  height: 171px;
  flex-shrink: 0;
}

.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.Navigation-haut {
  display: flex;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Navigation-bas {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.haut {
  color: var(--Gris-fonc, #555);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

.bas {
  color: var(--Gris-fonc, #555);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--ligne-fine, rgba(187, 187, 187, 0.5));
}

.bas-choisi {
  color: var(--Gris-fonc, #555);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--gold-hover, #f6d395);
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icones {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 28px;
}

.logos-reseaux {
  display: flex;
  width: 51px;
  justify-content: space-between;
  align-items: center;
}

.logos-icones {
  display: flex;
  height: 25px;
  justify-content: flex-end;
  align-items: center;
  gap: 8.916px;
  align-self: stretch;
}

.ornament {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.2;
}

.ligne-ornament {
  stroke-width: 5px;
  stroke: 5px solid#816752;
}

.feuille-gauche {
  height: 15.274px;
}

.feuille-droite {
  height: 15.274px;
  transform: rotate(180deg);
}

.accroche {
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 522px;
  margin-bottom: 79px;
  width: 1004px;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenu-cave-vin {
  display: flex;
  width: 736px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.texte-cave-vin {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Gris-medium, #787878);
  font-size: 20px;
  font-weight: 200;
}

.bouton {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--gold, linear-gradient(90deg, #f9e5c7 0%, #f6d395 100%));
  color: var(--Brun, #816752);
  font-size: 15px;
  font-weight: 100;
}

.visite-marbre {
  background-image: url(/src/images/fond\ marbre\ visite.png);
}

.footer {
  background-color: #c7c7c7;
  opacity: 0.9;
}

.footer-fond {
  background-image: url(/src/images/marbre\ footer.png);
}

.logos-vin-footer {
  margin-bottom: 16px;
}

.newsletter {
  width: 313px;
  height: 147px;
  flex-shrink: 0;
}

.newsletter-titre-autour {
  margin-bottom: 15px;
}

.newsletter-titel {
  color: var(--Gris-fonc, #555);
  font-size: 16px;
  font-weight: 300;
}

.mail-bouton {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--Gris-trs-clair, #f2f2f2);
  width: 100%;
  margin-bottom: 15px;
}

.mail {
  color: var(--Gris-medium, #787878);
  font-size: 14px;
  font-weight: 200;
}

.inscription-bouton {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 69px;
  background: var(--Blanc, #fff);
  width: 100%;
}

.bouton-footer {
  color: var(--Brun, #816752);
  font-size: 16px;
  font-weight: 400;
}

.reseaux-footer {
  margin-top: 35px;
  display: flex;
  width: 97px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.suivre {
  align-self: stretch;
  color: #555;
  font-size: 14px;
  font-weight: 200;
}

.logos-footer {
  display: flex;
  height: 33px;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

.vente-titre {
  color: #555;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

.footer-description {
  color: #787878;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 16px;
}

.telephone {
  color: #555;
  font-size: 14px;
  font-weight: 200;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  opacity: 0.5;
  background: var(--Gris-trs-clair, #f2f2f2);
  width: 165px;
}

.adresse-titre {
  color: #555;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

.localiser {
  color: #787878;
  font-size: 13px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.langues-footer {
  color: #787878;
  font-size: 14px;
  font-weight: 200;
}

.footer-droits {
  display: flex;
  width: 1115px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  color: #787878;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  flex: 1 0 0;
  margin-top: 70px;
}

.droits {
  border-bottom: 1px solid #cdcdcd;
}
